*{
    font-family: 'Roboto Condensed', sans-serif;

}
body{
    background-image: url(imagen/fondo.jpg);
    background-repeat: no-repeat;
    background-size:cover;

}
.navbar{
    background-color: rgba(0, 0, 0, 0.214);
    text-align: center;
    color: white;

}
.card{
    height:390px ;
    font-size: 15px;
    color: black;
    position: relative;
    margin-top: 30px;
    margin-left: 50px;
    margin-right:25px ;
    border-radius: 15px;
    background-color:rgba(128, 128, 128, 0.472);
    box-shadow:5px 5px 7px black;
    border-radius: 15px;
}
.card .card-img-top{
    border-radius: 50px;
    max-width: fit-content;

} 
.btn{
    color: black;
    margin-top: 25px;
    background-color: rgba(164, 35, 35, 0.767);
}
.eliminar{
    margin-left: 20px;
    background-color: rgba(237, 28, 28, 0.855);
    color: white;
    border-radius: 7px;
}

.eliminar:hover{
    transform: scale(.95);
    box-shadow: 1px 7px 35px rgb(251, 5, 5);;
}
.btn:hover{
    background-color: rgba(230, 47, 47, 0.843);
    box-shadow: 1px 7px 35px rgb(251, 5, 5);;

}
.btn:active{
    background-color: green;
    transform: scale(1.1);
    
}
