body{
    font-family: Arial, sans-serif;
    background-color: dimgray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(0, 0, 0);

  }

form {
  
  background-color: dimgray;
  
  width: 300px;
  height: 250px;
  margin-top: 100px;
  border-radius: 15px;
  box-shadow:2px 3px 10px black;
}

label {
  display: block;
  top: 100px;
  margin-bottom: 5px;
}


input:active{
  transform:scale(1.2) ;
}

input{
  margin-top: 10px;
  background-color: #f7f7f7;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border: black;
  border-radius: 15px;
  cursor: pointer;

}
input[type="submit"]{
  background-color: rgb(255, 127, 127);
}
input[type="submit"]:hover {
  background-color: #ef0000;
}
input[type="date"]{
  width: 170px;
  text-align: center;

}
.crear{
    
  background-color: dimgray;
  width: 300px;
  height: 550px;
  margin-top: 80px;
  border-radius: 15px;
  box-shadow:2px 3px 10px black;
}
.a{
  margin-top: 100px;
}
.nomina{
  background-color: dimgray;
  width: 300px;
  height: 300px;
  margin-top: 80px;
  border-radius: 15px;
  box-shadow:2px 3px 10px black;
}